.card {
    width: 700px;
    border: 1px grey solid;
}

.card-body{
    height: 300px;
    overflow: auto;
}

p{
    margin: 0px;
}

.flex{
    display: flex;
    float: left ;
}

.day{
    width: 130px;
    border: 1px black solid;
    height: 40px;
    margin: 4px 17px;
    border: 1px grey solid;
    border-radius: 5px;
    border-width: 1px 1px 1px 7px;
}

.day:hover {
    background-color: grey;
    cursor: pointer;
}

.blue-day{
    border-color: grey grey grey #65B2DB;
}

.centred{
    display: flex;
    justify-content: start;
}

.ball {
    padding: 0px;
    width: 30px;
    height: 30px;
    border-radius: 15px;
}

.blue-ball{
    background-color: #65B2DB;
}

.purple-ball{
    background-color: #7F3AAD;
}

.purple-day{
    border-color: grey grey grey #7F3AAD;
}

.p-0{
    padding: 0px;
}

.mlr-10{
    margin: 0px 10px;
}

.btn-custom{
    width: 320px;
    border: 1px black solid;
}

b{
    font-size: 20px;
}

.mt-20{
    margin-top: 20px;
}

.ptb-20{
    padding-top: 20px;
    padding-bottom: 20px;
}

.selected {
    border-color: grey grey grey red;
    cursor: pointer;
}

