<div class="card">
    <div class="card-header container">
        <div class="row">
            <div class="col">
                <div class="raw text-center">
                    <p>Run time:</p>
                </div>
                <div class="raw text-center" *ngIf="(scheduleCard$ | async) as scheduleCard"><b>{{scheduleCard.runTime}} minutes</b></div>
            </div>
            <div class="col">
                <div class="raw text-center">
                    <p>Start date:</p>
                </div>
                <div class="raw text-center"><b>{{currentDate | date : 'dd/MM/YYYY' }}</b></div>
            </div>
        </div>
    </div>
    <div class="container ptb-20">
        <div class="row">
            <div class="col card p-0 mlr-10">
                <div class="card-header container">
                    <div class="row">
                        <div class="col-2 centred">
                            <div class="ball blue-ball"></div>
                        </div>
                        <div class="col-10">
                            <p>Timeframes for: <b>AM</b></p>
                        </div>
                    </div>
                </div>
                <div class="card-body container">
                    <div class="flex text-center" *ngFor="let time of timeArrayAM">
                        <div class="row">
                            <div class="day blue-day d-flex align-items-center" [ngClass]="{selected: isSelected(time, 'AM')}" (click)="setTime(time, 'AM')">
                                <b>{{time}} AM</b>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col card p-0 mlr-10">
                <div class="card-header container">
                    <div class="row">
                        <div class="col-2 centred">
                            <div class="ball purple-ball"></div>
                        </div>
                        <div class="col-10">
                            <p>Timeframes for: <b>PM</b></p>
                        </div>
                    </div>
                </div>
                <div class="card-body container">
                    <div class="flex text-center" *ngFor="let time of timeArrayPM">
                        <div class="row">
                            <div class="day purple-day d-flex align-items-center" [ngClass]="{selected: isSelected(time, 'PM')}" (click)="setTime(time, 'PM')">
                                <b class="">{{time}} PM</b>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row text-center mt-20">
            <div class="col d-flex justify-content-end">
                <button (click)="changeCurrentDate(-1)" [disabled]="todayDate >= currentDate" type="button"
                    class="btn btn-light btn-outline-secondary btn-custom"><b>&#8249;</b> Previous day, {{previousDate| date : 'dd/MM/YYYY'}}
                </button>
            </div>
            <div class="col d-flex justify-content-start">
                <button (click)="changeCurrentDate(1)" type="button"
                    class="btn btn-light btn-outline-secondary btn-custom">Next day, {{nextDate | date :'dd/MM/YYYY'}} <b>&#8250;</b>
                </button>
            </div>
        </div>
    </div>
</div>