<mat-card class="card">
    <mat-card-content class="container" *ngIf="(deviceCard$ | async) as deviceCard">
        <div class="row">
            <div class="col-3">
                <img [src]="deviceCard.image" alt="">
            </div>
            <div class="col-9">
                <div class="row">
                    <h6>{{deviceCard.title}}:</h6>
                </div>
                <div class="row">
                    <h5>{{deviceCard.subtitle}}</h5>
                </div>
            </div>
        </div>
    </mat-card-content>
</mat-card>
