<div class="card" *ngIf="measurmentCard$ | async as measurmentCard">
    <div class="card-header container">
      <div class="row">
        <div class="col-3">
            <img [src]="measurmentCard.image">
        </div>
        <div class="col-9">
            <h5>
                {{measurmentCard.title}}
            </h5>
        </div>
      </div>
    </div>
    <div class="card-body">
        <div class="container">
            <div class="row">
                <div class="col" *ngFor="let toogle of measurmentCard.toggles">
                    <div class="row text-center">
                        <div class="form-switch">
                            <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckChecked" (click)="changeToggleStatus(toogle.name)" [checked]="toogle.status">
                            <label class="form-check-label pl-5" for="flexSwitchCheckChecked">{{toogle.name}}</label>
                        </div>
                    </div>
                  </div>
            </div>
            <div class="row pt-10">
                <div class="col" *ngFor="let option of measurmentCard.options">
                    <div class="row text-center">
                        <strong>{{option.name}}:</strong>
                    </div>
                    <div class="row text-center">
                        <p>{{option.value}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </div>



